<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Localizador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('color/default.css') }}">
        <link rel="shortcut icon" href="img/favicon.ico">
    {% endblock %}
</head>
<body>
<div class="menu-area">
    <div id="dl-menu" class="dl-menuwrapper">
        <button class="dl-trigger">Open Menu</button>
        <ul class="dl-menu">
            <li>
                <a href="#intro">Home</a>
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#works">Works</a></li>
            <li><a href="#contact">Contact</a></li>
            <li>
                <a href="#">Sub Menu</a>
                <ul class="dl-submenu">
                    <li><a href="#">Sub menu</a></li>
                    <li><a href="#">Sub menu</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /dl-menuwrapper -->
</div>



{% block body %}
        {% block content %}

        {% endblock %}
{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; Sematnica. Reservados todos los derechos</p>
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Mamba
                    -->
                    Designed by <a href="#">BootstrapMade</a>
                </div>

            </div>
        </div>
    </div>
</footer>


{% block javascripts %}
    <script src="{{ asset('js/modernizr.custom.js') }}"></script>
{% endblock %}
</body>
</html>
