{% extends 'base.html.twig' %}
{% block content %}

    <!-- Contact -->
    <section id="contact" class="home-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                        <h2>Hola mundo</h2>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
